<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>SeriousMD Developer</title>
</head>
<body>
    <h1>Appointment System</h1>
    <% for(var i = 0; i < contents.length; i++) { %>
        <div id = "<%= contents[i].apptid %>">
            <input type="checkbox" name="select">
            <h2>Appointment ID: <%= contents[i].apptid %></h2>
            <p>Appointment Status: <%= contents[i].apptstatus %></p>
            <p>Patient ID: <%= contents[i].appttype %> </p>
            <p>Island Group: <%= contents[i].islandgroup %></p>
            <p>Province: <%= contents[i].province %></p>
            <p>City: <%= contents[i].city %></p>
        </div>
    <% } %>

</body>
</html>