<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="./javascript/index.js"></script>
    <title>SeriousMD Tools | Appointments</title>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="table-container">
        <h1>SeriousMD Appointments</h1>
        <h2>Server Status</h2>
        <div class="servers">
            <div class="server up">
                <div class="server-icon"></div>
                <p>Centralized</p>
            </div>
            <div class="server down">
                <div class="server-icon"></div>
                <p>Luzon</p>
            </div>
            <div class="server down">
                <div class="server-icon"></div>
                <p>Visayas / Mindanao</p>
            </div>
        </div>
        <div class="search-utils">
            <form class="search-utils-form">
                <div class="search-utils-container">
                    <h3>What are you looking for?</h3>
                    <div class="search-bar-container">
                        <input class="search-bar" name="search-bar" type="text" placeholder="Search Appointment ID">
                    </div>
                    <div class="filter-container">
                        <div class="filter">
                            <label for="island-filter">Island:</label>
                            <select name="island-filter" id="island-filter">
                                <option value="all">All</option>
                                <option value="luzon">Luzon</option>
                                <option value="visayas">Visayas</option>
                                <option value="mindanao">Mindanao</option>
                            </select>
                        </div>
                        <div class="filter">
                            <label for="select-filter">Status:</label>
                            <select name="select-filter" id="select-filter">
                                <option value="all">All</option>
                                <option value="complete">Complete</option>
                                <option value="queued">Queued</option>
                                <option value="serving">Serving</option>
                                <option value="noshow">NoShow</option>
                                <option value="skip">Skip</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="filter-buttons">
                        <button type="submit" class="form-button filter-button">Filter</button>
                        <button type="reset" class="form-button reset-button">Reset</button>
                    </div>
                    
                </div>
            </form>
        </div>
        <table class="appointments-table">
            <tr class="table-header">
                <th><input type="checkbox" id="select-all"></th>
                <th>Appointment ID</th>
                <th>Island</th>
                <th>Province</th>
                <th>City</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            <% for(var i = 0; i < contents.length; i++) { %>
                <tr id = "<%= contents[i].apptid %>">
                    <td><input type="checkbox" class="select-box"></td>
                    <td><%= contents[i].apptid %></td>
                    <td><%= contents[i].islandgroup %></td>
                    <td><%= contents[i].province %></td>
                    <td><%= contents[i].city %></td>
                    <td><%= contents[i].appttype %></td>
                    <td class="apptstatus"><div class="status-icon"></div><%= contents[i].apptstatus %></td>
                </tr>
            <% } %>
        </table>
    </div>
    

    <div class="load-more">
        <button class="load-more-button">Load More</button>
    </div>
    <div id="selected" hidden>
        <div class="selected-controls">
            <p><span id="selected-number">0</span> Appointments Selected</p>
            <div class="selected-status">
                <select name="selected-status" id="selected-status">
                    <option value=none Selected Disabled>Change Status</option>
                    <option value="complete">Complete</option>
                    <option value="queued">Queued</option>
                    <option value="serving">Serving</option>
                    <option value="noshow">NoShow</option>
                    <option value="skip">Skip</option>
                </select>
            </div>
            <button class="selected-button">Set Status</button>
            <button class="delete-button">Remove Appointment</button>
        </div>
    </div>
    

    <script>
        $('.select-box').on('change', function() {
            var selected = [];
            $('.select-box:checked').each(function() {
                selected.push($(this).parent().attr('id'));
            });
            $('#selected').show();
            $('#selected-number').html(selected.length);

            //add class "selected" to the row
            $('.select-box').each(function() {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().addClass('selected');
                } else {
                    $(this).parent().parent().removeClass('selected');
                }
            });
            
        });

        $('.select-box').on('change', function(){
            var selected = [];
            if ($('.select-box:checked').length == 0) {
                $('#selected').hide();
            };

            //uncheck select-all
            if ($('.select-box:checked').length == $('.select-box').length) {
                $('#select-all').prop('checked', true);
            } else {
                $('#select-all').prop('checked', false);
            }
        })

        $('#select-all').on('change', function(){
            var selected = [];
            if ($('.select-box:checked').length == 0) {
                $('#selected').hide();
            };
        });
    </script>
</body>
</html>